<!DOCTYPE>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Alimon's Blog</title>
	<meta name=”viewport” content=”inytial-scale=1,width=device-width” />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<div>
			<div id="logo">
			<a href="index.html"><img src="img/logo.svg" alt="Alimon"/></a>
			<hgroup>
				<h1 class="site-name"><a href="index.html">Alimon's Blog</a></h1>
				<h2 class="blog-motto">业精于勤而荒于嬉,行成于思而毁于随</h2>
			</hgroup>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">博客</a></li>
					<li><a href="">归档</a></li>
					<li><a href="">笔记</a></li>
					<li><a href="">关于</a></li>
					<li><a href="">实验室</a></li>
					<li><a href="">简历</a></li>
					<li><form class="search">
							<label>Search</label>
							<input type="search" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" />
						</form></li>
				</ul>
			</nav>
			
			</div>
		</header>
	<div id="container">

		<div id="main">
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
			<section class="post">
				<a href="#" title="学习Git">
				<h1>学习Git</h1>
				<p>使用Git应该是每一位程序员的必备技能，Git被很多IT公司使用并在开源届和圈内有着巨大的声誉，之前团队做项目经常使用的也都是SVN现在接触了Github后，学习掌握Git也成了顺理成章的事情。希望这篇短文可以帮助到Git的初学者，我们共同学习。</p>
				<time>Aug 6, 2012</time>
				</a>
			</section>
		</div>
		<div id="asidepart">
			<aside>
				<div class="categorieslist">
					<p class="asidetitle">文章分类</p>
					<ul>
						<li><a href="" title="">Share</a></li>
						<li><a href="" title="">learning</a></li>
						<li><a href="" title="">summary</a></li>
						<li><a href="" title="">web</a></li>
						<li><a href="" title="">web</a></li>
					</ul>
				</div>
				<div class="tagslist">
					<p class="asidetitle">文章标签</p>
					<ul class="clearfix">
						<li><a href="" title="">Share<sup>2</sup></a></li>
						<li><a href="" title="">learning<sup>1</sup></a></li>
						<li><a href="" title="">summary<sup>3</sup></a></li>
						<li><a href="" title="">web<sup>2</sup></a></li>
						<li><a href="" title="">web<sup>3</sup></a></li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
	<footer>
		<div id="footer" >
			<section class="info">
				<p>Hi,I'm YangJian.For now I'm a student at collage.<br/>
				Font-end development is my interest which I'd like to share with you at this blog.<br/>
				</p>
			</section>
			
			<p class="copyright">Powered by <a href="" title="Github">Github</a> and <a href="" title="Jekyll">Jekyl</a> © 2013 <a href="" title="YangJian">YangJian</a></p>
		</div>
	</footer>
</body>
</html>