<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
	<div>
		  <table class="wcont" cellpadding="0" cellspacing="0" id="userlist">
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle" ><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr>
      <tr>
        <td width="30px" align="center" valign="middle"><strong>.</strong></td>
        <td width="10px"></td>
        <td align="left" valign="middle"><a href="#" class="toptwo">广大的劳动人民节日快乐</a></td>
      </tr> 
    </table>
  </div>
<script type="text/javascript">
  		var len = $('#userlist tr').length;
        for(var i = 1;i<len+1;i++){
            $('#userlist tr:nth-child('+i+') td strong:first').text(i);
        }
		
</script>
</body>
</html>