<section class="comment">
	<% if (theme.duoshuo.enable && page.comments){ %>
    <div class="ds-thread"></div>
  <% } %>
  <% if (page.comments && config.disqus_shortname){ %>
    <div id="disqus_thread"></div>
  <% } %>
</section>
