<% if (theme.duoshuo.enable && theme.duoshuo.short_name.length) { %>
	<div class="commentslist">
		<p class="asidetitle"><%= __('comments') %></p>
		<ul class="ds-recent-comments" data-num-items="5" data-show-avatars="0" data-show-time="1" data-show-admin="1" data-excerpt-length="32" data-show-title="1"></ul>
	</div>
	<!--多说js加载开始，一个页面只需要加载一次 -->
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"<%= theme.duoshuo.short_name %>"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	<!--多说js加载结束，一个页面只需要加载一次 -->
<% } %>
