<% if (theme.links && theme.links.length) { %>
<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
	<% theme.links.forEach(function(item) { %>
      <li><a href="<%= item.url %>" target="_blank" title="<%= item.title %>"><%= item.name %></a></li>
    <% }); %>
    </ul>
</div>
<% } %>
